body {
    text-align: center;
    background-color: #191970;
}

header {
    font-size: 24px;
    color: #ff9912
}

.container {
    border: 5px solid #ff9912;
    background-color: #3d59ab;
    color: #FFD700;
    border-radius: 15px;
    padding: 40px;
    margin: 40px auto;
}

#questionText {
    text-align: Sleft;
    font-size: 24px;
}

.btn, 
footer {
    font-size: 16px;
    background-color:  #ff9912;
    color: #191970;
}

li {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.abtn, 
#resetButton,
#initialsForm {
    display: none;
}

.abtn button {
    min-height: 60px;
    min-width: 80px;
    margin: 5px auto;
}